markdown:
  <script id="resource-template" type="text/template">
    <div>
      <div class="clearfix">
        <div class="state">
        <h2>State</h2>
        <div class="toggler">
          <p>[headers]</p>
        </div>
        <div class="headers">
          <code><pre><%= headers %></pre> </code>
        </div>
        <div class="response">
        </div>
        </div>
        <div class="links">
        <h2>Links</h2>
          <table>
            <thead>
              <tr>
                <th>rel</th>
                <th>name / index</th>
                <th>docs</th>
                <th>follow</th>
              </tr>
            </thead>
            <tbody>
            <% _.each(links, function(obj, rel) { %>
              <% if ($.isArray(obj)) { %>
                <% _.each(obj, function(link, i) { %>
                  <tr>
                    <td><strong><%= HAL.truncateIfUrl(rel) %></strong></td>
                    <td><%= link.name ? 'name: ' + link.name : 'index: ' + i %></a></td>
                    <td>
                    <% if (HAL.curie(rel, top_state)) { %>
                      <a class="dox" data-rel="<%= rel %>" href="<%= HAL.curie(rel, top_state) %>">[docs]</a>
                    <% } %>
                    </td>
                    <td><a class="link" href="<%= link.href %>">=&gt;</a></td>
                  </tr>
                <% }); %>
              <% } else { %>
                <tr>
                  <td><strong><%= HAL.truncateIfUrl(rel) %></strong></td>
                  <td><%= obj.name || '' %></td>
                  <td>
                  <% if (HAL.curie(rel, top_state)) { %>
                    <a class="dox" data-rel="<%= rel %>" href="<%= HAL.curie(rel, top_state) %>">[docs]</a>
                  <% } %>
                  </td>
                  <td><a class="link" href="<%= obj.href %>">=&gt;</a></td>
                </tr>
              <% } %>
            <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <h2>Embedded Resources</h2>
      <div class="embedded-resources">
      </div>
    </div>
  </script>

  <script id="failed-request-template" type="text/template">
    <pre>
    <%= jqxhr.status %> <%= jqxhr.statusText %>

    <%= jqxhr.getAllResponseHeaders() %>
    </pre>
  </script>

  <script id="embedded-resource-template" type="text/template">
    <h3><a href="#"><%= name %></a></h3>
    <div class="clearfix">
      <div class="state">
        <h4>State</h4>
        <%= state %>
      </div>
      <div class="links">
        <h4>Links</h4>
        <table>
          <thead>
            <tr>
              <th>rel</th>
              <th>name / index</th>
              <th>docs</th>
              <th>follow</th>
            </tr>
          </thead>
          <tbody>
          <% _.each(links, function(obj, rel) { %>
            <% if ($.isArray(obj)) { %>
              <% _.each(obj, function(link, i) { %>
                <tr>
                  <td><strong><%= HAL.truncateIfUrl(rel) %></strong></td>
                  <td><%= link.name ? 'name: ' + link.name : 'index: ' + i %></a></td>
                  <td>
                  <% if (HAL.curie(rel, top_state)) { %>
                    <a class="dox" data-rel="<%= rel %>" href="<%= HAL.curie(rel, top_state) %>">[docs]</a>
                  <% } %>
                  </td>
                  <td><a class="link" href="<%= link.href %>">=&gt;</a></td>
                </tr>
              <% }); %>
            <% } else { %>
              <tr>
                <td><strong><%= HAL.truncateIfUrl(rel) %></strong></td>
                <td><%= obj.name || '' %></td>
                <td>
                <% if (HAL.curie(rel, top_state)) { %>
                  <a class="dox" data-rel="<%= rel %>" href="<%= HAL.curie(rel, top_state) %>">[docs]</a>
                <% } %>
                </td>
                <td><a class="link" href="<%= obj.href %>">=&gt;</a></td>
              </tr>
            <% } %>
          <% }) %>
          </tbody>
        </table>
      </div>
      <div class="embeds">
        <div class="nested-resources">
        </div>
      </div>
    </div>
  </script>
