
/* ==|== homepage styles =====================================================
   Author: David Haslem
   ========================================================================== */

.big p{
  text-align: center;
  margin: 2em;
  font-size: 24px;
}
body.main{
  padding-top: 34px;
}
body{
}
.main .help-cors{
  margin-bottom: 0em;
}
.explorer .navbar .nav.pull-right{
  margin-right: 10px;
}
.endpoints .thumbnail{
  height: 11em;
  position: relative;
}
.endpoints .row{
  margin-top: 1.8em;
}

#location-bar form{
  padding-top: 1em;
}

.embeds .nested-resources{
  clear: both;
  padding-top: 3em;
}

/* ==|== primary styles =====================================================
   Author: Mike Kelly <mikekelly321@gmail.com>
   ========================================================================== */

pre { font-size: 0.8em; }

table {
  font-size: 12px;
  border-collapse: collapse;
  text-align: left;
}

th {
  font-size: 14px;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678B1;
  padding: 8px 12px;
}

td {
  border-bottom: 1px solid #CCC;
  color: #669;
  padding: 6px 8px;
}

#browser {
  box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
  padding:20px;

}

#location-bar-container{
  padding: 46px 0 0.5em;
  width: 100%;
  background: #ccc;
}


#browser .state { float: left; width: 60%; min-width: 300px; }
#browser .links { float: right; width: 30%; min-width: 300px; }

#inspector {
}
#inspector h1{
  font-size: smaller;
  float: left;
  margin: 0;
}
#inspector .toggler{
  margin-right: 20px;
}
#inspector.active{
  margin: 1em auto;
  width: 98%;
}
.panel{
  opacity: 0;
  height: 0px;
}
.active .panel{
  opacity: 1;
  height: 600px;
  margin-bottom: 20px;
}

#inspector .panel iframe { z-index: 10000; width: 99%; height: 560px; }
#inspector .panel pre { z-index: 10000; width: 99%; height: 560px; overflow: auto; }

